html,
body {
  overflow-x: hidden;
}

body {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
  width: 100vw;
  background-color: #ffffff;
}
#page {
  width: 100vw;
}
.menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 3vh;
}

.menu-item {
  padding: 0vw 1vw 0vw 1vw;
}

.menu-item a {
  color: #4b4b4b;
  text-decoration: none;
  padding: 0.5rem;
  display: block;
}

.menu-item a:hover {
  background-color: #5d1464;
  color: #ffffff;
}

.links {
  text-align: center;
  display: none;
  flex-direction: column;
  gap: 0.5rem;
}

.link:hover {
  cursor: pointer;
}

[dropdown].active .links {
  display: flex;
  text-align: center;
}

#media {
  background-color: #000000;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2vh;
  margin: 0;
  width: 100vw;
}
#media a img {
  width: 5vh;
  height: 5vh;
  transition: transform 0.3s;
}
#media a img:hover {
  transform: scale(1.1);
}
#last_icon {
}
.segment1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem 0rem 1rem;
  margin-left: 10vw;
  margin-right: 10vw;
  min-width: 80vw;
}

#baner {
  height: 7rem;
  margin-right: 3vh;
}
.navbar {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; /* Center the menu */
  width: 80%;
}
.segment1 #magnifier {
  height: 0rem;
  width: 0rem;
  margin-right: 4.2vw;
}
.btn {
  border: none;
  background-color: transparent;
  color: rgb(196, 192, 192);
  font-weight: 800;
  cursor: pointer;
}
#spin {
  text-align: center;
  height: auto;
  border: 2px solid #5d1464;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  background-color: white;
  color: #5d1464;
  margin-top: 2vh;
  margin-bottom: 1.2vh;
  font-family: "Roboto", serif;
  font-weight: 800;
  font-style: oblique;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: none;
  animation-name: anima;
  transition: 0.3s ease-in-out;
  animation-duration: 1s;
}
@keyframes anima {
  0% {
    transform: scale(1.1);
  }
  100% {
    background-color: #6f0083;
  }
}
.sep {
  height: 0.3vh;
  width: 8vh;
  background-color: #5d1464;
  margin-top: 6vh;
}
.separator1 {
  display: flex;
  align-items: flex-start;
  padding-left: 10vw;
  padding-top: 5vh;
  font-size: larger;
  padding-bottom: 2vh;
}
.separator2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#segment3 {
  margin-top: 6vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: larger;
  background-color: #f2f2f2;
  margin-left: 5vw;
  margin-right: 5vw;
}
#segment3 .box1 {
  padding-top: 2vh;
  display: flex;
  margin-left: 10vw;
  margin-right: 10vw;
  flex-wrap: wrap;
  flex-direction: column;
  width: 80%;
}

#segment3 .box2 {
  margin-left: 10vw;
  margin-right: 10vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-bottom: 2vh;
  width: 80%;
}
#segment3 .btn {
  border: 2px solid #5d1464;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  background-color: white;
  color: #5d1464;
  margin-top: 2vh;
  margin-bottom: 1.2vh;
  font-family: "Roboto", serif;
  font-weight: 800;
  font-style: oblique;
  box-shadow: #5d1464 5px 5px, #5d1464c3 10px 10px, #5d14646b 15px 15px,
    #5d146428 20px 20px;
  cursor: pointer;
}

#segment3 .btn:hover {
  box-shadow: 0 0 6px #5d1464;
  transition: 0.5s;
  transform: scale(1.1);
}
.sep2 {
  margin: 2vh 0 2vh 0;
  height: 0.5vh;
  width: 100%;
  background-color: #5d1464;
}
.box1 .date {
  color: gray;
  font-size: small;
}
.box2 .date {
  color: gray;
  font-size: small;
}
.violet {
  color: #5d1464;
  margin-top: 0;
  margin-bottom: 0;
}
.categories {
}
.category {
  background-color: #dbdada;
  border-radius: 2vh;
  width: 10vh;
  text-align: center;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
}
.category p {
  font-size: small;
}
.row {
  display: flex;
  gap: 2vh;
  padding-top: 0.5vh;
}

.categories2 {
}
.d_c_position {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#segment4 {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20vh;
  padding-right: 20vh;
  gap: 4rem;
  justify-content: space-between;
  flex-direction: row;
}
.art_d {
  padding-left: 10vh;
  width: 50vh;
  height: 80vh;
  padding-right: 5vw;
}
.art_d .a {
  width: fit-content;
  padding: 1vh;
  background-color: #a725b3;
  color: white;
  border-radius: 0.5vh;
  padding-bottom: 1vh;
  margin-top: 45vh;
}
.art_d .b {
  color: white;
  font-size: 5vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.art_d .c {
  color: white;
  font-size: 2vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.art_d .d {
  background-color: #a725b3;
  border: none;
  color: white;
  padding: 2vh;
  font-size: 2vh;
  box-shadow: 5px#000000;
  padding-top: 1vh;
  padding-bottom: 1vh;
}
.art {
  width: 36.5vh;
  height: 36.5vh;
  background-color: #5d1464;
}
.row1 {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.row2 {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
}
.art .duze {
  margin-left: 2vh;
  margin-top: 20vh;
  font-size: 3vh;
  color: rgb(255, 255, 255);
  margin-bottom: 0;
  padding-bottom: 0;
}
.art .autor {
  padding-top: 1vh;
  margin-top: 0;
  margin-left: 2vh;
  font-size: 1.5vh;
  color: rgb(255, 255, 255);
}
.container {
  margin-top: 6vh;
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Space between items */
  align-items: stretch;
  margin-left: 5vw;
  margin-right: 5vw;
}

.container form {
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vw;
}

form button {
  width: 100%;
}

.large-box .content {
  display: flex;
  align-items: baseline;
  flex-direction: column;
}

.a_img {
  width: 100%;
  height: 40vw;
  margin-bottom: 10vw;
  margin-top: 1em;
}

.scroll-container {
  width: 100%;
  max-width: 9vw;
  height: 100vh;
  overflow: hidden;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* List styling */
.image-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.image-list li {
  margin-bottom: 5vh;
}

.image-list img {
  width: 100%; /* Ensure images are responsive */
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.autor_strony {
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.autor_strony img {
  height: auto;
  width: 25vw;
}
.autor_strony button {
  padding: 1vw 2vw;
  border-radius: 2rem;
  border: 1px solid rgb(190, 190, 190);
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: italic;
  height: fit-content;
  width: 25vw;
}
#communicate {
  position: absolute;
  z-index: 100;
  background: rgba(255, 255, 255, 0.18);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgb(38, 36, 36);
  height: 400%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5vh;
  font-size: 1.2rem;
}

#communicate .cnt {
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 10vh;
  padding: 2vh;
  width: 70%;
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#communicate .cnt h1 {
  margin-top: 0;
}

@keyframes bg-change {
  0% {
    background-color: white;
  }
  25% {
    background-color: rgb(205, 160, 210);
  }
  50% {
    background-color: rgb(154, 76, 183);
  }
  75% {
    background-color: rgb(225, 0, 255);
  }
  100% {
    background-color: rgb(205, 160, 210);
  }
}

.cnt .closeBtn {
  padding: 2vh 3vh;
  border-radius: 2rem;
  border: 3px solid rgb(58, 58, 58);
  font-family: inherit;
  font-size: 1.2rem;
  transition: ease transform 0.3s;
  animation-name: bg-change;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.cnt .closeBtn:hover {
  cursor: pointer;
  background-color: white;
  transform: scale(1.2);
}
