#page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6vh;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
}

.ope {
  font-family: inherit;
  color: rgb(46, 46, 46);
}

.btn {
  font-size: 2rem;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  border: 2px groove rgb(123, 17, 244);
  cursor: pointer;
  font-family: inherit;
}
